{% extends 'base.html.twig' %}

{%- block body %}
    <div class="jumbotron">
        <h1>NMDAD-III Demo</h1>
    </div>
    {% for post in posts %}
    <article class="card card-block">
        <h2>{{ post.title }} <small class="pull-right">{{ post.createdAt|date('d/m/Y H:i') }}</small></h2>
        {% if post.body is defined %}
            {{ block('article') }}
        {% endif %}
        {% if post.uri is defined %}
            {{ block('image') }}
        {% endif %}
    </article>
    {% endfor %}
{% endblock body %}

{%- block article %}
    <p>{{ post.body }}</p>
    {{ block('categories') }}
{%- endblock article -%}

{%- block image %}
    <img src="{{ post.uri }}" alt="{{ post.title }}" style="max-width: 100%">
    {{ block('categories') }}
{%- endblock image -%}

{%- block categories %}
    {% for category in post.categories %}
    <span class="label label-info">{{ category.name }}</span>
    {% endfor %}
{%- endblock categories -%}